h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.add-new {
  float: right;
  padding: 0.5rem;
  margin-right: 3rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  transition-duration: 0.4s;
}

.add-new:hover {
  background-color: var(--hover-color);
}

.books {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 6rem;
  gap: 2rem;
  padding: 0 3rem;
}

app-book-list-element {
  flex-grow: 1;
}
