<section class="custom-select">
  <div class="input-button" [ngClass]="{'showing-suggestion-list': (showSearched || showSuggestionList) && filteredOptions.length > 0}">
    <div class="tags-input-wrapper">
      <div *ngFor="let item of selectedOptions" class="selected-tags">
        {{ item }}
        <span class="remove-tag" (click)="removeSelectedItem(item)">×</span>
      </div>
      <input type="text" [(ngModel)]="query" (input)="onInput()" (keydown)="onKeyDown($event)" class="select-input" placeholder="Start typing..."/>
    </div>

    <button type="button" class="show-all-button" (click)="toggleSuggestions()" title="options">
      <i class="fa fa-caret-down"></i>
    </button>
  </div>
  <div class="suggestion-list-container" [ngClass]="{'show-suggestion-list': (showSearched || showSuggestionList) && filteredOptions.length > 0}">
    <ul class="suggestion-list">
      <li *ngFor="let option of filteredOptions; let i = index" (click)="selectItem(option)" [ngClass]="{'highlighted': i === highlightedIndex}">
        {{option}}
      </li>
    </ul>
  </div>
</section>
