<main>
    <header>
      <nav>
        <ul>
          <li>
            <a [routerLink]="['/']">
              <img class="store-logo" src="assets/logo.png" alt="logo" aria-hidden="true"/>
              <h1>{{title}}</h1>
            </a>
          </li>
          <li>
            <a [routerLink]="['/books']">
              Books
            </a>
          </li>
          <li>
            <a [routerLink]="['/categories']">
              Categories
            </a>
          </li>
          <li>
            <a [routerLink]="['/authors']">
              Authors
            </a>
          </li>
        </ul>
      </nav>
      <div class="non-authenticated" *ngIf="cookieService.getCookie('TOKEN') === ''">
        <a [routerLink]="['/signup']">Sign Up</a>
        <a [routerLink]="['/login']">Sign In</a>
      </div>
      <div class="authenticated" *ngIf="cookieService.getCookie('TOKEN')">
        <div class="relative">
          <div class="profile-container">
            <a class="profile" #profile id="profile" [routerLink]="['/profile']">{{user?.firstName}} {{user?.lastName}}</a>
            <button type="button" (click)="toggleProfileOptions()" title="DropDown">
              <i #dropDownButton id="dropDownButton" class="fa fa-caret-down"></i>
            </button>
          </div>
          <div #profileDropDown id="profileDropDown" class="dropDownContent">
            <ul>
              <li *ngFor="let option of profileOptions" [routerLink]="[option.url]">
                {{option.option}}
              </li>
            </ul>
          </div>
        </div>
        <button type="button" title="Sign out" (click)="handleSignOut()">
          <i class="fa fa-sign-out"></i>
        </button>
      </div>
    </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>
