.active-link {
  background-color: var(--hover-color);
  color: var(--primary-color) !important;
}

.sidebar ul li {
  cursor: pointer;
  padding: 0.4rem 0.5rem;
}

.sidebar ul li:hover {
  background-color: var(--hover-color);
}

.sidebar ul li:first-child {
  border-top-right-radius: 30px;
}

.sidebar {
  position: fixed;
  background-color: var(--secondary-color);
  display: flex;
  border-right: 3px solid var(--primary-color);
  border-top-right-radius: 30px;
  height: 100vh;
  top: 5rem;
  width: 10vw;
  flex-direction: column;
}

.content {
  margin-left: 11vw;
}
