.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  margin-top: 10%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  justify-content: space-around;
}

form {
  margin-top: 10%;
  text-align: center;
}

input[type = "text"] {
  border: 1px solid orangered;
  border-radius: 8px;
  display: inline-block;
  margin-right: 10px;
  padding: 4px;
  width: 35%;
  color: gray;
  transition: 0.5s;
}

input[type = "text"]:focus {
  outline: none;
  scale: 1.02;
}

button {
  padding: 4px;
  border: solid 1px orangered;
  background-color: orangered;
  color: white;
  transition: 0.5s;
  border-radius: 8px;
}

button:hover {
  background-color: yellow;
  opacity: 20%;
  color: orangered;
  cursor: pointer;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}
