<article>
  <div class="header">
    <h1>{{book.title}}</h1>
    <div class="book-change">
      <a [routerLink]="['/books', book.id, 'edit']" class="edit">
        <i class="fa fa-edit"></i>
      </a>
      <button type="button" class="delete-button" title="Delete" (click)="handleDelete()">
        <i class="fa-solid fa-trash"></i>
        Delete
      </button>
    </div>
  </div>
  <hr/>
  <section class="book-details">
    <img [src]="book.image" (error)="book.image = '/assets/no_available_image.jpg'" alt="Book image"/>
    <div class="book-info">
      <div class="group">
        <h3>Category:</h3>
        <p>{{book.category.name}}</p>
      </div>
      <div class="group">
        <h3>{{book.authors.length > 1 ? 'Authors:' : 'Author:'}}</h3>
        <div class="authors">
          <p *ngFor="let author of book.authors">{{author.fullName}}</p>
        </div>
      </div>
      <div class="group">
        <h3>Tags:</h3>
        <div *ngIf="book.tags.length > 0" class="tags">
          <p *ngFor="let tag of book.tags">{{tag}}</p>
          <p *ngIf="book.tags.length === 0">No tags available!</p>
        </div>
      </div>
      <div class="group">
        <h3 *ngIf="book.releaseDate">Release date:</h3>
        <p *ngIf="book.releaseDate">{{book.releaseDate.toLocaleDateString()}}</p>
      </div>
      <p class="description" *ngIf="book.shortDescription">{{book.shortDescription}}</p>
    </div>
    <div class="book-pricing">
      <p [ngClass]="{'invisible': book.discount === 0}" class="discount">-{{book.discount}}%</p>
      <p>{{bookPrice}} HUF</p>
      <p [ngClass]="{'text-green-500': book.available, 'text-red-600': !book.available}">
        {{book.available ? 'Available' : 'Not available'}}
      </p>
    </div>
  </section>
</article>
